<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="10; url=/login" />
        <title> Submitted </title>
    </head>
    <body align="center" style="margin: 100px;">

      <h2>You haved submitted successfully. Thank you.</h2>

      <p>In case you missed this. This is the last chance to copy your code <span class = "code" ><b>{{passcode}}</b></span> </p>
      <p> Logging out and redirect to home page in <span id="counter">10</span>  seconds </p>



      <script type="text/javascript">
        function countdown() {
            var i = document.getElementById('counter');
            if (parseInt(i.innerHTML)<=0) {
                location.href = '/login';
            }
            i.innerHTML = parseInt(i.innerHTML)-1;
        }
        setInterval(function(){ countdown(); },1000);
        </script>

    </body>
</html>
